body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.jugador {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid black;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #333;
}

.card p {
    font-size: 0.9em;
    line-height: 1.4;
    margin: 8px 0;
    color: #666;
}

#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#startBtn,
#resetBtn,
#fightBtn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.selected {
    border: 3px solid lightgreen;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
}

#result {
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    background: #0080ff;
    border: 2px solid #0037ff;
    border-radius: 15px;
    display: none;
}

#result.visible {
    display: block;
}

#infoFight {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#infoFight p {
    margin: 5px 0;
    font-size: 16px;
}

#infoFight.visible {
    display: flex;
}